


.hide {
    display: none;
}

#show {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    background-color: chartreuse;
}

#ingredients {
    margin-top: 1rem;
    border: 2px solid black;
    width: max-content;
}

#container {
    display: flex;
    flex-direction: column;
}

#container div, #mixing_pot div  {
    padding: 0.75rem 0.75rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1xp solid seagreen;
}

#ingr1, #ingr2 {
    text-align: center;
}

#ingr1 img, #ingr2 img, #ingr1-mixing, #ingr2-mixing  {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

section {
    display: flex;
    align-items: center;
    column-gap: 10rem;
}

#mixing_pot {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


#navigation {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#navigation a {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#home_button {
    background-color: black;
}

#result_button {
    background-color: teal;
}