
/* header {
    text-align: center;
} */

main {
    display: flex;
    align-content: center;
    align-items: center;
}


#brew_button {
    width: max-content;
    margin: 0 auto;
    background-color: brown;
    padding: 1rem  2rem;
    border-radius: 5px;
}

